nav {
    justify-content: space-evenly;
    display: flex;
    position: relative;
}
.navLinks {
    display: flex;
    padding-top: 5px;
    box-shadow: 0 0.2px 0.2px 0.2px rgba(#aaa, 0.6);
    background-color: #3d3c3a;
    height: 50px;
    border-radius: 50px;
}

.isActiveButton {
    font-family: 'Kelly slab', sans-serif;
    text-decoration: none;
    padding: 0.6em 1em 0.6em 0em;
    border: 3px solid transparent;
    border-bottom: 4px solid transparent;
    text-shadow: 1px 1px 1px black;
    color: #c48660;
}

.navLinks .a {
    font-family: 'Kelly slab', sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0 1em 0 0em;
    border: 3px solid transparent;
    border-bottom: 4px solid transparent;
    text-shadow: 1px 1px 1px black;
    color: #bebebe;
}

.navLinks a:hover {
    color: #c48660;
}
.menu:hover {
    box-shadow: 0 0.5px 0.5px 0.5px #c48660;
}

//responsive
.navBtn {
    display: none;
}

@media (max-width: 899px) {
    .logo-balzac {
        display: none;
    }
    .main_h {
        position: fixed;
        height: 50px;
    }

    .navBtn {
        display: inline-block;
        position: fixed;
        top: 10px;
        right: 5rem;
        z-index: 10;
        cursor: pointer;
        background: transparent;
        border: none;
    }

    .navLinks {
        border-radius: 0;
        list-style: none;
        height: fit-content;
        flex-direction: column;
        position: absolute;
        top: -35px;
        right: 0;
        width: 100%;
        background-color: transparent;
        padding: 20px 0;
        perspective: 400px;
    }

    .navLinks li {
        background-image: repeating-linear-gradient(
            90deg,
            rgb(22, 18, 18),
            rgb(74, 71, 73),
            rgb(22, 18, 18)
        );
        height: 4rem;
        width: 100%;
        box-shadow: -2px 2px 5px black;
        animation: navAnimation 600ms ease forwards;
        transform: rotateX(90deg);
        opacity: 0;
        transform-origin: top;
    }
    .navLinks li:nth-child(2) {
        animation-delay: 200ms;
    }
    .navLinks li:nth-child(3) {
        animation-delay: 400ms;
    }
    @keyframes navAnimation {
        to {
            transform: rotateX(0);
            opacity: 1;
        }
    }
    .navLinks li a {
        padding: 20px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
    }
    .navLinks.showMenu {
        display: flex;
    }
    .navLinks.hideMenu {
        display: none;
    }
}
