@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{
  box-sizing: border-box;
}
body{
  margin:0;
 background-image: repeating-linear-gradient(
      90deg,
      rgb(39, 35, 37) 40%,
      rgb(22, 18, 18) ,
      rgb(41, 1, 48),
      rgba(19, 20, 20, 0.928) 
    );
}