@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Pacifico&family=Play:wght@700&display=swap');
.link{
  text-decoration: none;
}
.logo-balzac{
font-family: 'Kelly Slab',sans-serif;
width: 300px;
text-align: center;
padding: 10px;
border-radius: 5px;

background: transparent;
.h1{
width: 200px;
margin: 0px auto;
border-top: 3px solid rgb(221, 192, 0); 
text-transform: uppercase;
padding-top: 5px;
font-size:30px;
color: rgb(221, 192, 0);
text-shadow:2px 2px 2px #000;
}

.separator{
    margin: 0 auto 10px;
    width: 200px;
    display:flex;
    align-items: center;
.line{
    height: 3px;
    flex: 1;
    background-color:rgb(221, 192, 0);
    text-shadow:2px 2px 2px #000;
      }
   .h3{
    color: rgb(221, 192, 0);
    padding:0 0.5rem;
   font-size: 18px;
   text-transform: uppercase;
   text-shadow:2px 2px 2px #000;
   
}
  }

.h4{
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow:2px 2px 2px #000;
    
  }

}

 