@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Pacifico&family=Play:wght@700&display=swap');
.link {
    text-decoration: none;
}

.logo-balzac {
    font-family: 'Kelly Slab', sans-serif;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-image: repeating-linear-gradient(
        90deg,
        rgb(10, 1, 25),
        #7b8d95,
        rgb(10, 1, 25)
    );
    box-shadow: 0 1px 1px 1px var(--colYellow1);
    .h1 {
        width: 200px;
        margin: 0px auto;
        border-top: 3px solid var(--colYellow);
        text-transform: uppercase;
        padding-top: 5px;
        font-size: 30px;
        color: var(--colYellow1);
        text-shadow: 1px 1px 1px #000;
    }

    .separator {
        margin: 0 auto 10px;
        width: 200px;
        display: flex;
        align-items: center;
        .line {
            height: 3px;
            flex: 1;
            background-color: var(--colYellow);
            text-shadow: 2px 2px 2px #000;
        }
        .h3 {
            // color: rgb(221, 192, 0);
            color: var(--colYellow1);
            padding: 0 0.5rem;
            font-size: 18px;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px #000;
        }
    }

    .h4 {
        color: #ddc;
        font-size: 14px;
        font-weight: lighter;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px #000;
    }
}

.logo-balzac:hover {
    box-shadow: 0 1px 1px 1px var(--colOrange);
    .line {
        background-color: var(--colOrange);
    }
    .h1 {
        width: 200px;
        margin: 0px auto;
        border-top: 3px solid var(--colOrange);
    }
}
