@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Pacifico&family=Play:wght@700&display=swap');

.logo-balzac{
font-family: 'Kelly Slab',sans-serif;
width: 300px;
text-align: center;
padding: 10px;
border-radius: 5px;
text-shadow: 1px 1px 1px rgb(31, 29, 29);
background: transparent;
.h1{
width: 200px;
margin: 0px auto;
border-top: 3px solid rgb(221, 192, 0); 
text-transform: uppercase;
padding-top:25px;
font-size:50px;
color: rgb(221, 192, 0);
}

.separator{
    margin: 20px auto 10px;
    width: 200px;
    display:flex;
    align-items: center;
.line{
    height: 3px;
    flex: 1;
    background-color:rgb(221, 192, 0);
      }
   .h3{
    color: rgb(221, 192, 0);
    padding:0 0.5rem;
   font-size: 22px;
   text-transform: uppercase;
   
}
  }

.h4{
    color: #fff;
    font-size: 18px;
    font-weight: lighter;
    
  }

}

 // background-image: linear-gradient(to right, #2c3e50, #2b5e66);
// background: linear-gradient(to bottom right, #685507, #010101);
// background-image: linear-gradient(
//   90deg,
//   rgb(78, 68, 68) 0%,
//   rgb(44, 22, 56) 35%,
//   rgba(55, 38, 50) 100%
// );
// background-image: linear-gradient(
//   90deg,  
//   rgb(71, 71, 64),
//   rgb(158, 158, 151) 10%,
//   rgb(74, 57, 57)
  
// );
  
