@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);




#parallax-container{
  background-image: repeating-linear-gradient(
  90deg,
  rgb(74, 71, 73) ,
  rgb(22, 18, 18) ,
  rgb(41, 1, 48),
  rgb(22, 18, 18) ,
  rgba(71, 73, 74, 0.927608543417367) 
);
}


/* Typography */
/**************************/
#parallax-container h1 {
  font-family:'Oswald', sans-serif; 
  font-size:24px; 
  font-weight:400; 
  text-transform: uppercase; 
  color:black; 
  padding:0; 
  margin:0;
}
#parallax-container h2 {
  font-family:'Oswald', sans-serif; 
  font-size:70px; 
  letter-spacing:10px; 
  text-align:center; 
 color:#d8940e;
  font-weight:400; 
  text-transform:uppercase; 
  z-index:10; 
  opacity:.9;
  text-shadow:2px 2px 2px #000;
}
#parallax-container h3 {
  font-family:'Oswald', sans-serif; 
  font-size:14px; 
  line-height:0; 
  font-weight:400; 
  letter-spacing:8px; 
  text-transform: uppercase; 
  color:black;
}
#parallax-container p {
  font-family:'Source Sans Pro', sans-serif; 
  font-weight:400; 
  font-size:16px; 
  line-height:24px;
}
.first-character {
  font-weight:400; 
  float: left; 
  font-size: 84px; 
  line-height: 64px; 
  padding-top: 4px; 
  padding-right: 8px; 
  padding-left: 3px; 
  font-family: 'Source Sans Pro', sans-serif;
}

.sc {color: #3b8595;}
.ny {color: #3d3c3a;}
.atw {color: #c48660;}

/* Section - Title */
/**************************/
#parallax-container .title {

  padding: 60px;
   margin:0 auto; 
   text-align:center;
  }
#parallax-container .title h1 {
  font-size:35px; 
  letter-spacing:8px;
  
}

#parallax-container img{
  max-width: 200px;
  border: 1px solid #d8940e;
border-radius: 3px;
box-shadow:2px 2px 2px #000;
}
/* Section - Block */
/**************************/
#parallax-container .block {
 color:#d8940e;
  padding: 60px; 
  width:820px; 
  margin:0 auto; 
  text-align:justify;
}



/* Section - Parallax */
/**************************/
#parallax-container .parallax-one {
display: flex;
justify-content: space-around;
  padding-top: 200px; 
  padding-bottom: 200px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url(../../../public/Images/maison.jpg); 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: top center;
}

#parallax-container .parallax-two {
  padding-top: 200px; 
  padding-bottom: 200px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url(../../../public/Images/maison.jpg); 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}
#parallax-container .parallax-three {
  padding-top: 200px; 
  padding-bottom: 200px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url(../../../public/Images/IllustrationChlo.jpg); 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;}

/* Extras */
/**************************/
#parallax-container .line-break {
  border-bottom:1px solid rgb(195, 48, 48); 
  width: 150px; 
  margin:0 auto;
}


@media (max-width: 959px) and (min-width: 768px) {
  #parallax-container .block {
    padding: 40px; width:620px;
  }
}
@media (max-width: 767px) {
  #parallax-container .block {
    padding: 30px; width:420px;
  }
  #parallax-container h2 {
    font-size:30px;
  }
  #parallax-container .block {
    padding: 30px;
  }
  #parallax-container .parallax-one, #parallax-container .parallax-two, #parallax-container .parallax-three {
    padding-top:100px; 
    padding-bottom:100px;
  }
}
@media screen and (max-width: 479px) {
  #parallax-container .block {
    padding: 30px 15px; 
    width:290px;
  }
}


.sect{
	height: 100%;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}



.sectOne{
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/412157/coffee1.jpg);
}

.sectTwo{
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/412157/coffee3.jpg);	
}

.sectThree{
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/412157/coffee4.jpg);
}

.sectFour{
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/412157/coffee2_2.jpg);
}



