@import '../../../src/Container/App/App.scss';

#parallax-container {
    padding-bottom: 1px;
    font-family: 'Kelly Slab', sans-serif;
}

#parallax-container h2 {
    font-size: 50px;
    text-align: center;
    color: var(--colBeige);
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px var(--colDarkGrey);
    font-style: normal;
}
#parallax-container h2:hover {
    color: var(--colDarkGrey);
    text-shadow: 2px 2px 2px var(--colBeige);
}
#parallax-container a {
    text-decoration: none;
}

#parallax-container p {
    line-height: 1.1rem;
    clip-path: polygon(0 15%, 100% 0, 100% 80%, 0 100%);
    border: 10px outset var(--colBeige);
    padding: 5rem 5%;
    margin: 20px;
    min-height: 250px;
}
.first-character {
    font-weight: 400;
    float: left;
    font-size: 80px;
    line-height: 1.8rem;
    padding: 8px;
}

.b {
    color: var(--colBeige);
}

// IMAGE

/* Section - Block */
/**************************/
#parallax-container .block {
    margin: 50px auto;
    text-align: justify;
    width: 80vw;
    display: flex;
}

/* Section - Parallax */
/**************************/

#parallax-container .parallax-one,
.parallax-two,
.parallax-three {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
#parallax-container .parallax-one {
    padding-top: 320px;
    padding-bottom: 300px;
    background-image: url(../../../public/Images/maison.jpg);
}

#parallax-container .parallax-two {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../../../public/Images/maison.jpg);
}
#parallax-container .parallax-three {
    padding-top: 300px;
    padding-bottom: 300px;
    background-image: url(../../../public/Images/IllustrationChlo.jpg);
}

@media (max-width: 959px) and (min-width: 768px) {
    #parallax-container .block {
        padding: 40px;
        width: 660px;
    }
}
@media (max-width: 767px) {
    #parallax-container .block {
        padding: 30px;
        width: 420px;
    }
    #parallax-container h2 {
        font-size: 30px;
    }
    #parallax-container .block,
    .block3 {
        padding: 30px;
        clip-path: none;
    }
}
@media screen and (max-width: 479px) {
    #parallax-container .block p {
        clip-path: none;
        border: 5px outset var(--colBeige);
    }
}

@media screen and (max-width: 420px) {
    #parallax-container .parallax-one,
    .parallax-two,
    .parallax-three {
        left: 10px;
    }
}

@media screen and (max-width: 380px) {
    #parallax-container .parallax-one,
    .parallax-two,
    .parallax-three {
        left: 50px;
    }
}
