

.balzacItem {
  font-family:'Source Sans Pro', sans-serif; 
  margin: 30px 0;

clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
padding: 4rem 10%;

border: 5px solid  #bebebe;
background-color: #3d3c3a;
p{
  color: rgb(205, 214, 189);
  padding: 20px;
  font-size: 14px;
}

 //image effect
 img {
  width: 100%;  
 }
 #caption {

   position: relative;
   background-color:#ddc;
   border:solid 5vmin #eee;
   border-bottom-color:#fff;
   border-left-color:#eee;
   border-radius:2px;
   border-right-color:#eee;
   border-top-color:#ddd;
   box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25); 

   
  //  &:before {
  //    border-radius:2px;
  //    bottom:-2vmin;
  //    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
  //    content:"";
  //    left:-2vmin;
  //    position:absolute;
  //    right:-2vmin;
  //    top:-2vmin;
  //  }
  //  &:after {
  //    border-radius:2px;
  //    bottom:-2.5vmin;
  //    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
  //    content:"";
  //    left:-2.5vmin;
  //    position:absolute;
  //    right:-2.5vmin;
  //    top:-2.5vmin;
  //  }
 }
 #caption .text {
     position: absolute;		
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 10;
     opacity: 0;
     transition: all 0.8s ease;			
  background-color: #fff;
     margin: 0;		
     color: #3d3c3a;
     text-transform: uppercase;
     font-weight: bold;
     padding: 10px;
 }
 #caption:hover .text {
   opacity: 1;
   
 }
 #caption:hover img {
   -webkit-filter: sepia(90%);
 }

}


 
