#actualites,
#projets,
#presse {
    display: flex;
    justify-content: center;
    padding: 50px 0 100px;
}
#donner {
    margin: 50px auto;
}
.humaContent {
    margin: 50px auto;
}
@media screen and (max-width: 900px) {
    #actualites,
    #projets,
    #presse {
        flex-wrap: wrap;
    }
    .col-12 {
        width: 100%;
    }
}
