
.App{

  color: black;
}
.section{
  display: flex;
  width:100vw;
 
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vw;
  font-size: 5vw;
  border-bottom: 1px solid #666;
}
.title{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.letter{
  font-size: 5vw;
  display:inline-block;
}