@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Pacifico&family=Play:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

:root {
    --colYellow: #dabb65;
    --colOrange: #e4c216;
    --colWhite: #fcfdff;
    --colBeige: #b2a680;
    --colGray1: #4a4749;
    --colGreen: #92b5a7;
    --colBlue: #072634;
    --colGray: #8e9496;
    --colBlue1: #6c7fa0;
    --borderYellow: 1px ridge var(--colYellow);
    --borderWhite: 5px ridge var(--colWhite);

    --colOrange1: #bd4f0a;
    --colBrown: #3d3c3a;
    --colDarkGray: #252626;
    --colDark: #161212;
    --colBlack: #212121;

    --colBeige1: #c48660;

    --colGray2: #333;
    --colYellow1: #daf7a6;

    --paddingTitle: 0px 10%;
    --borderGray: 5px ridge var(--colGray1);
}

* {
    box-sizing: border-box;
}

body,
.item {
    font-family: 'Tilt Neon', cursive;
    margin: 0;
    background-image: url(../../Assets/stacked-peaks-haikei.svg);
}
.background-white {
    background: #fff;
}
.container {
    max-width: 1400px;
    margin-inline: auto;
}
.humaPadding {
    padding-top: 60px;
    background-color: var(--colBlue);
}

.paddingTopHash {
    padding-top: 50px;
}
.bgClear {
    background-image: url(../../Assets/stacked-peaks-haikei.svg);
}
.item {
    margin: 30px 0;
    border-radius: 5px;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
    padding: 5rem 10%;
    border: 5px ridge #bebebe;
}

.pDarkTheme {
    color: var(--colBlue);
    font-size: 1rem;
    font-weight: 300;
}
.titleSlider {
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
    font-size: 1.2rem;
    padding: 3% 1% 6%;
    color: var(--colGray);
}

h1 {
    font-family: 'Kelly Slab', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    color: var(--colBeige);
    text-shadow: 1px 1px 1px black;
}

.itemList {
    display: flex;
    flex-direction: column;
    justify-content: left;
    cursor: default;
    li {
        color: var(--colWhite);
        font-size: 14px;
        font-weight: 600;
        list-style: circle;
        margin: 0px 10px 10px;
    }
    li:hover {
        color: currentColor;
        scale: 1;
    }
}
//pagination

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;

    li {
        font-size: 20px;
        color: #bebebe;
        font-weight: 600;
        list-style: none;
        margin: 10px;
        text-decoration: none;
    }
    li:hover,
    .selected {
        scale: 1.3;
    }
    li a:hover,
    .selected a {
        color: var(--colOrange);
    }
}

/* responsive */

@media screen and (max-width: 1200px) {
    //footer
    .ft1 p {
        font-size: 0.4rem;
    }
}
@media screen and (max-width: 999px) {
    //header-menu
    .main_h {
        height: 60px;
    }
    .btn2 {
        transform: translateX(-50%);
        h5 {
            display: none;
        }
    }

    .subMenu {
        position: relative;
        top: 5px;
        right: 0px;

        li {
            margin: 0px;
        }
        li a {
            background-color: transparent;
            border: none;
            text-transform: uppercase;
            text-align: center;
            color: var(--colBlue1);
            text-decoration: none;
            transition: all 0.4s linear;
            font-size: 0.7rem;
            width: 140px;
        }
    }
}

@media (max-width: 899px) {
    //header-menu
    .main_h {
        z-index: 999999;
        width: 100%;
        box-shadow: 1px 1px 1px black;
        .slidingButton {
            position: absolute;
            right: 20%;
        }
        .btn2 {
            width: max-content;
            left: 100px;
        }
        .logo {
            scale: 0.6;
            position: absolute;
            left: 0px;
        }
    }
    .sticky {
        .logo {
            margin-top: 0px;
        }
    }
    .subMenu li a {
        max-width: 100px;
        background-color: transparent;
        border: none;
    }
}

@media screen and (max-width: 699px) {
    //header responsive
    .subMenu li a {
        padding: 0;
        font-size: 0.7rem;
    }
    .subMenu li {
        padding: 0;
    }

    //footer
    #input-submit {
        margin: 20px 0;
        width: 100%;
    }

    // li {
    //     color: #bebebe;
    //     font-size: 10px;
    //     font-weight: 600;
    //     list-style: none;
    // }
}
@media screen and (max-width: 599px) {
    //header responsive

    .isActiveButton {
        background: transparent;
    }
    .subMenu .menuLi {
        width: 100%;
        background: transparent;
        box-shadow: none;
        top: 25px;
        right: 180px;
    }
    .subMenu li a {
        padding: 0 5px;
        font-size: 0.6rem;
        width: max-content;
    }
    .logo-balzac {
        transform: scale(0.7);
        position: absolute;
        top: 55px;
        left: -90px;
    }
}
@media screen and (max-width: 450px) {
    .navBtn {
        transform: scale(0.6);
    }
    .btn2 {
        top: 30px;
    }
    .btn2 .buttonText {
        font-size: 0.6rem;
    }
}
