.titleBlock {
    color: var(--colBlue);

    text-align: justify;

    h1 {
        text-transform: uppercase;
        font-size: 30px;
    }
    p {
        margin: 0 40px;
        text-align: justify;
        padding: 20px 40px;
    }
}
