.titleBlock {
    font-size: 16px;
    color: var(--colBlue);
    letter-spacing: 1px;
    width: 100%;
    margin: 5% auto;
    text-align: justify;
    padding: var(--paddingTitle);

    .titleH2 {
        font-size: 18px;
        text-align: left;
    }
}
