@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.headerContainer {
  height: 300px;
  text-align: center;
   
  }
  
  .mainHeading {
    font-family: 'Pacifico', cursive;
    color: rgb(74, 73, 73);
    font-size: 30px;
    padding: 20px;
    position: sticky;
    top:50px;
  }
  
