@import '../App/App.scss';

.footerCard {
    margin: 0;
    padding: 0px 5%;
    border-bottom: 1px ridge var(--colOrange1);
}
.footer {
    background: #212121;
    padding: 0px 30px 0;
    .pDarkTheme {
        font-size: 12px;
    }
}
footer a {
    text-decoration: none;
}

.footerTitle {
    text-decoration: none;
    color: #bebebe;
    margin-left: 5px;
}

.footerTitle:hover {
    color: var(--colOrange);
}
.footer-end {
    padding: 20px 5% 0;
    color: var(--colGreen);
    font-size: 0.6rem;
}
.ft1,
.ft2,
.ft3 {
    padding: 0px 25px;
}
@media screen and (max-width: 250px) {
    .footer {
        padding: 20px 30px 0;
        .pDarkTheme {
            font-size: 5px;
        }
    }
}
