@import '../App/App.scss';
//menu_header
.footerMenu {
    margin: 25px 40px;
}
.footerMenu a {
    text-decoration: none;
    display: block;
}

#f3 {
    margin: 30px auto;
}
.footerCard {
    background-color: var(--colBlue);
    margin: 0;
    padding: 0px;
    border-top: var(--borderYellow);
    border-bottom: var(--borderYellow);
}
.footer {
    padding: 0px 30px 0;
    .pDarkTheme {
        font-size: 12px;
        color: var(--colGray);
    }
}
footer a {
    text-decoration: none;
}

.footerTitle,
a {
    text-decoration: none;
    color: #bebebe;
    margin-left: 5px;
}

.footerTitle:hover {
    color: var(--colOrange);
}
.footer-end {
    padding: 20px 5% 0;
    color: var(--colGreen);
    font-size: 0.6rem;
}
.ft1,
.ft2,
.ft3 {
    padding: 0px 25px;
}
@media screen and (max-width: 250px) {
    .footer {
        padding: 20px 30px 0;
        .pDarkTheme {
            font-size: 5px;
        }
    }
}
