@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

.footerCard {
    background: #161212;
    margin: 10px 0;
    height: 100%;
    padding: 10px 40px;

    p {
        line-height: 1.1rem;
    }
    .footerTitle {
        color: #a8a8a8;
        text-shadow: 1px 1px 1px black;
    }
}
.footer {
    padding: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}
