@import '../../../src/Container/App/App.scss';

.contactForm {
    padding: 10% 2% 5%;
    border-top: 1px ridge var(--colBeige);
}

form {
    font-family: 'Kelly Slab', sans-serif;
}

form {
    max-width: 800px;
    text-align: center;
    margin: 50px auto;

    input,
    textarea {
        border: 0;
        outline: 0;
        padding: 1em;
        border-radius: 3px;
        display: flex;
        width: 100%;
        margin-top: 1em;

        box-shadow: 0 1px 1px 1px var(--colBeige);
        resize: none;

        &:focus {
            box-shadow: 0 0px 2px var(--colBlue) !important;
        }
    }

    textarea {
        height: 126px;
    }
    .messageSentHide {
        margin: 15px auto;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        border: 1px ridge var(--colGray);
        border-radius: 3px;
        background: var(--colBeige);
        text-transform: uppercase;
        padding: 15px 30px;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 0.4rem;
        color: var(--colBlue);
        display: none;
    }
    .messageSentShow {
        display: block;
    }
}
