@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// body {
//   margin: 0;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
 
// }

 


#tables {font-family: 'Montserrat', sans-serif;
   background-image: repeating-linear-gradient(
    90deg,
    rgb(74, 71, 73) 40%,
    rgb(22, 18, 18) ,
    rgb(41, 1, 48),
    rgba(71, 73, 74, 0.927608543417367) 
  );
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  height: 100%;
  transition: all 0.5s;
  transform: skew(-10deg);
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.product:hover {
  flex-grow: 2;
}

.product:hover .content {
  opacity: 1;
  height: 140px;
}

.content {
  background-color: rgb(209,171,125);
  color: white;
  padding: 10px;
  position: absolute;
  left: -12px;
  width: calc((90vw/8)*6.3);
  box-sizing: border-box;
  padding: 0px 60px;
  bottom: 20%;
  height: 0;
  overflow: hidden;
  transform: skew(10deg);
  transition: height 0.5s, opacity 0.5s;
  font-size: 20px;
  display: grid;
  place-items: center;
/*   opacity: 0; */
}

.one::before {
  position: absolute;
  content: '';
  transform: skew(10deg);
  background-image: url('../../Assets/Balzac-Image.jpg'); 
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  width: calc(100% + 200px);
  height: 100%;
  left: -100px;
}

.two::before {
  position: absolute;
  content: '';
  transform: skew(10deg);
  background-image: url('../../Assets/Illustration\ Chlo+®1024_1.jpg'); 
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  width: calc(100% + 200px);
  height: 600px;
  left: -100px;
}



#footer {
  width: 100vw;
  height: 200px;
  background-color: #D1AB7D;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer a {
  color: #96785B;
  text-decoration: none;
}

.shopBtn {
  text-decoration: none;
  background-color: white;
  padding: 15px 25px;
  margin: 20px 0;
  border: 3px solid #D1AB7D;
  color: #D1AB7D;
  position: relative;
  transition: all 0.2s;
}
.shopBtn:hover {
  text-decoration: none;
  background-color: #D1AB7D;
  padding: 15px 25px;
  margin: 20px 0;
  border: 3px solid #D1AB7D;
  color: white;
}

.shopBtn::before {
  position: absolute;
  content: '';
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  top: 0px;
  left: 0px;
  border: 4px solid white;
}

@media only screen and (max-width: 860px){
  #hero {
    background-color: #D1AB7D;
    width: 100vw;
    height: auto;
    display: grid;
    place-items: center;
    margin-bottom: 20px;
  }
  #hero img {
    border: 4px solid white;
    padding: 50px 20px;
    width: 100vw;
    box-sizing: border-box;
    max-width: 500px;
    border: none;
  }
  
  #tables {
    height: 80vh;
    width: 100vw;
    flex-direction: column;
    padding: 40px 0;
  }

  .product {
    width: 100%;
    height: auto;
    transform: skew(0deg) skewY(-5deg);
  }
  .one::before {
    transform: skew(0deg) skewY(5deg);
    height: calc(100% + 200px);
    width: 100%;
    top: -100px;
    left: 0;
  }

  .two::before {
    transform: skew(0deg) skewY(5deg);
    height: calc(100% + 200px);
    width: 100%;
    top: -100px;
    left: 0;
  }

  .three::before {
    transform: skew(0deg) skewY(5deg);
    height: calc(100% + 200px);
    width: 100%;
    top: -100px;
    left: 0;
  }
  .content {
    width: 100vw;
    height: fit-content;
    transform: skew(0deg) skewY(5deg);
  }
}