.blockCulture {
    h1 {
        color: #c48660;
        font-family: 'Kelly Slab', sans-serif;
    }
    font-size: 14px;
    color: #bebebe;
    width: 100%;
    margin: 0;
    text-align: justify;
    clip-path: polygon(0 0%, 100% 0, 100% 80%, 0 100%);
    padding: 2rem 10% 10rem;
    border-top: 1px solid #c48660;
    border-bottom: 1px solid #c48660;
}

.balzacList {
    padding: 70px 0;
    border-top: 10px solid #bebebe;
    border-bottom: 10px solid #bebebe;
    .cardItem {
        width: 70vw;
        display: flex;
        justify-self: center;
        margin: 10px 5px;
        clip-path: polygon(0 15%, 100% 0, 100% 80%, 0 100%);
        padding: 4rem 10%;
        border: 10px outset #bebebe;
        padding: 70px;
    }
    .projectPhoto {
        height: fit-content;
        background-color: #ddc;
        border: solid 1.4rem #eee;
        border-bottom-color: #fff;
        border-left-color: #eee;
        border-radius: 2px;
        border-right-color: #eee;
        border-top-color: #ddd;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
            0 5px 10px 5px rgba(0, 0, 0, 0.25);
        position: relative;
        margin-top: 60px;
        text-align: center;
    }
    div {
        padding: 10px;
    }

    .cardContent {
        padding: 0px 0 10px 55px;
    }
    .title2 {
        font-family: 'Kelly Slab', sans-serif;
        color: #bebebe;
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px;
        text-align: justify;
    }

    .text2 {
        color: #bebebe;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        overflow: hidden;
        max-height: 190px;
    }
    //pagination
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;
    }
    li {
        color: #3d3c3a;
        font-size: 1.2rem;
        font-weight: 600;
        list-style: none;
        margin: 10px;
    }
    li:hover,
    .selected {
        scale: 1.1;
        color: red;
    }
}
