@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

//sliding button

.btn2 {
    box-shadow: 0 0.2px 0.2px 0.2px rgba(#aaa, 0.6);
    font-family: 'Kelly slab', sans-serif;
    text-shadow: 1px 1px 1px black;
    background-color: #3d3c3a;
    height: 50px;
    width: 200px;
    border: 1px solid transparent;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    .buttonText {
        margin-left: 20px;
        text-align: center;
        font-size: 0.8rem;
        text-transform: uppercase;
        z-index: 10;
        transition: 0.3s;
        text-decoration: none;
        color: #bebebe;
    }
    //flash
    h5 {
        position: absolute;
        top: -18px;
        right: 25px;
        font-size: 20px;
        opacity: 0;
        transition: 0.3s ease-out;
    }
}

.btn2:hover {
    box-shadow: 0 0.5px 0.5px 0.5px #c48660;
}
.btn2-1:hover .buttonText {
    color: #bebebe;
    font-size: 0.65rem;
}

.btn2-1:hover h5 {
    margin-right: -10px;
    opacity: 1;
    color: #bebebe;
}
