@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

//sliding button

.btn2 {
    box-shadow:0 1px 1px 1px #ffa500; 
    font-family:'Source Sans Pro', sans-serif; 
    text-shadow: 2px 2px 2px black;
    background: rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 200px;
    border: 1px solid transparent;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color:whitesmoke;
margin-top: 20px;
    p {
        font-size: 1rem;
  text-transform:capitalize;
        z-index: 10;
        transition: 0.3s;
        
    }
//flash
    h5 {
        position: absolute;
        top: -20px;
        right: 25px;
        font-size: 20px;
        opacity: 0;
        transition: 0.3s ease-out;
    }
}

.btn2:hover{
    box-shadow:0 1px 1px 1px #ddc000; 
}
.btn2-1:hover p {
    font-size:medium;
    margin-right: 23px;
    font-size: 0.8rem;
    color: #ddc000;
}

.btn2-1:hover h5 {
    margin-right: -15px;
    opacity: 1;
    color: #ddc000;
}
