.cardItemHuma {
    box-shadow: 5px 5px 5px var(--colGray);
    line-height: 1.1rem;
    border: 3px solid var(--colWhite);
    padding: 1rem 4%;
    margin: 5% auto;
    min-height: 250px;
    width: 80%;
    background: #fff;
    border-radius: 5px;
    .title2 {
        color: var(--colBeige1);
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 5px;
        text-align: justify;
    }
    .italic {
        font-style: italic;
    }
    .b {
        color: var(--colBeige);
    }
    .pDarkTheme {
        text-align: justify;
        font-size: 16px;
        color: var(--colBlue);
        .boldWhite {
            color: var(--colWhite);
            font-size: 14px;
        }

        a {
            font-size: 20px;
            text-decoration: none;
            color: var(--colWhite);
        }
        a:hover {
            color: var(--colGreen);
        }
    }
}
.cardItemHuma:hover {
    box-shadow: 5px 5px 5px var(--colYellow);
    border: 3px solid transparent;
    background: var(--colBlue);
    transform: translate(-18px);
    transition: 0.3s ease;
    cursor: pointer;
    .pDarkTheme,
    .boldWhite {
        color: var(--colYellow);
    }
}
