.cardItemHuma {
    line-height: 1.1rem;
    clip-path: polygon(0 15%, 100% 0, 100% 80%, 0 100%);
    border: 8px ridge var(--colBeige);
    padding: 5rem 5%;
    margin: 10% auto;
    min-height: 350px;
    width: 80%;

    .title2 {
        color: rgb(147, 151, 158);
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 5px;
        text-align: justify;
    }
    .italic {
        font-style: italic;
    }

    .pDarkTheme {
        text-align: justify;
        color: var(--colWhite);

        .boldWhite {
            color: var(--colWhite);
            font-size: 14px;
        }

        a {
            font-size: 20px;
            text-decoration: none;
            color: var(--colWhite);
        }
        a:hover {
            color: var(--colGreen);
        }
    }
}
