.card {
    display: flex;
    margin: 0;
    width: 90vw;
    height: 100vh;
    border-bottom: var(--borderWhite);
    @media screen and (max-width: 1076px) {
        width: 80vw;
    }
    @media (max-width: 900px) {
        display: flex;
        margin: 0;
        width: 100%;
        height: 100vh;
        border-bottom: var(--borderWhite);
        height: 100%;
        width: 88%;
        flex-wrap: wrap;
    }
    @media (max-width: 499px) {
        height: 100%;
        width: 100vw;
    }
}

.card__img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 1076px) {
        left: -150px;
    }
    @media (max-width: 900px) {
        width: 100%;
        height: 375px;
        background-position: center center;
    }

    @media (max-width: 499px) {
        width: 100%;
    }
    img {
        width: 25%;
        border-radius: 2px;
        border-radius: 7px;
        bottom: -100px;
        position: relative;
    }
}

.card__content {
    padding: 20px;
    width: 50%;
    @media screen and (max-width: 1076px) {
        width: 60%;
    }
    @media (max-width: 900px) {
        width: 100%;
    }
}

.card__title {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-top: 10px;
    text-shadow: 1px 1px 1px var(--colWhite);
    color: var(--colGray1);
    font-size: 2rem;
    text-transform: uppercase;
    transition: all 0.2s ease;

    @media (max-width: 525px) {
        transition: all 0.2s ease-in;
        font-size: 26px;
    }
    @media (max-width: 900px) {
        left: 0;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    span {
        display: block;
        position: relative;
        top: 6px;
        line-height: 0.85;
        opacity: 0.85;
    }
    span.small {
        color: var(--colBrown);
        position: relative;
        opacity: 1;
        font-size: 18px;
    }
}

.card__quote {
    text-align: justify;
    font-family: 'Source Sans Pro';
    width: 100%;
    padding-left: 15px;
    padding-top: 5%;
    margin: auto;
    color: var(--colGray1);
    font-size: 16px;
    line-height: 1.4;
    @media screen and (max-width: 1076px) {
        left: -150px;
        font-size: 14px;
    }
    @media (max-width: 900px) {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    @media (max-width: 525px) {
        width: 88%;
    }
    span {
        position: relative;
        top: -4px;
    }
}
