@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Play:wght@700&display=swap');

.main_h {
  position:fixed;
  top:0px;
  background:transparent;
width: 100%;
z-index: 99999999;
height:95px;
box-shadow: 1px 1px 1px black;
// background-image: repeating-linear-gradient(
//   90deg,
//   rgb(22, 18, 18), 
//   rgb(74, 71, 73) ,
//   rgb(22, 18, 18)  
// );
background-color: transparent;
}

.sticky{
  
    background-image: repeating-linear-gradient(
        90deg,
        rgb(22, 18, 18), 
        rgb(74, 71, 73) ,
        rgb(22, 18, 18)  
      );

// background-color: #252526;
}
    



