// .main_h {
//     position: fixed;
//     z-index: 999999;
//     width: 100vw;
//     top: 0;
//     background: rgba(#072634, 0.5);
//     height: 80px;
//     transition: height 0.3s ease-in-out;
//     transition: scale 0.2s ease-in-out;
// }

.main_h {
    position: fixed;
    z-index: 999999;
    width: 100vw;
    top: 0;
    background: var(--colBlue);
    border-bottom: var(--borderYellow);
    .slidingButton {
        padding-left: 40px;
        margin-top: -13px;
    }
    .headerMenu {
        margin-top: -10px;
        transition: margin 0.3s ease-in-out;
    }
    .logo-balzac {
        position: relative;
        left: -30%;
        margin-top: 5px;
    }
    top: 0px;
    height: 60px;
    transition: margin 0.6s ease-in-out;
    .annonceImpot {
        display: none;
    }
}

/***
Easing
***/

#easing {
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    width: 200px;
    border-bottom: 2px solid #c48660;
    text-align: center;
    animation: easing 10s ease-out;

    @keyframes easing {
        0% {
            transform: translateX(-220px);
        }

        100% {
            transform: translateX(0px);
        }
    }
}

// .annonceImpot {
//     color: #c48660;
//     text-shadow: 2px 2px 2px black;
//     font-family: 'Oswald', sans-serif;
//     font-size: 0.9rem;
// }
