.art-grid {
    padding: 10px 5px;

    a {
        font-weight: 600;
        text-decoration: none;
        color: #3d3c3a;
    }

    .titleSlider {
        padding: 6% 3% 6%;
        color: var(--colOrange);
    }
    //card
    .art-item {
        padding: 0% 1%;
        margin-top: 1%;
        &:hover {
            .art-img {
                transform: scale(1.5);
            }
        }
    }

    img {
        width: 100%;
        height: 250px;
        filter: sepia(90%);
    }
    #caption {
        width: 90%;
        height: 350px;
        position: relative;
        border: solid 10px #bebebe;
        border-bottom-color: #fff;
        border-left-color: #eee;
        border-radius: 5px;
        border-right-color: #bebebe;
        border-top-color: #ddd;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
            0 5px 10px 5px rgba(0, 0, 0, 0.25);
    }
    #caption .text {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        opacity: 0;
        transition: all 0.8s ease;
        color: #3d3c3a;
        font-size: 12px;
        padding: 10px;
    }
    #caption:hover .text {
        opacity: 1;
    }
    #caption:hover img {
        filter: none;
    }
    .name-cat {
        text-align: center;
    }
}
@media screen and (max-width: 599px) {
    .art-grid #caption {
        width: 80vw;
    }
}
