

.art-grid {
  //pagination
ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
 cursor: pointer;
}
li{
  color: #3d3c3a;
  font-size: 16px;
  font-weight: 600;
  list-style:none;
  margin:10px;
}
li:hover, .selected{
  scale: 1.1;
  color:red;
}

//card

  .art-item {
        
      &:hover {
    
              .art-img {
                  transform: scale(1.05);
              }    
      }
  }
    
  .art-img-wrap {
      border-radius: 5px;
      position: relative;
      left: 5%;
      top:55px;
      padding-top: 20px;
      z-index: 1;
      border: 2px solid grey;
      overflow: hidden;
      max-width: 300px;
      height: 180px;
      .art-img {  
        max-width: 300px;
          position: absolute;
          top: 0;
          transition: all 1s ease;
      }
  }
  .art-category {
    height: 350px;
    margin: 10px 5px;
   border-radius:  0px 40px 0%  40px  ;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
   padding: 5rem 10%;
    border-right: 5px solid  #bebebe;
    background-color: #3d3c3a;
    max-width: 340px;
  }

  .art-meta {
      display: flex;
      align-items: center;
      
      font-size: 11px;
      font-weight: bold;
      line-height: 1;
      text-transform: uppercase;
      color: orangered;
      transition: color 0.3s ease;
      text-decoration: none;
      &:hover {
          color: white;
      }
  }

  .art-text {
    font-size: 14px;
  
    p {
   color: rgb(205, 214, 189);
   
 }
  }
}