.mySwiper {
    margin: 50px 0;
    padding: 35px;
    height: 70vh;
    border-top: 1px ridge var(--colBeige);
    border-bottom: 1px ridge var(--colBeige);
    .button {
        margin: 0 auto;
        max-width: 200px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        transition: all 1s ease-in-out;
        border: none;
        background: var(--colOrange);
        border-radius: 30px;
        text-transform: uppercase;
        padding: 15px 40px;
        font-weight: 900;
        font-size: 13px;
        color: var(--colBlue);
        cursor: cursor;
    }
    button:hover {
        color: #ffffff;
        background: #222222;
        box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    }
    .slider-content {
        margin: 30px 20px;
        padding: 20px;
        border: 5px ridge white;
        border-radius: 5px;
        text-align: center;
        height: 350px;
    }
    .slider-content:hover {
        scale: 1.02;
        border: 2px ridge var(--colGray);
    }
    .slider-content .inner h1 {
        font-weight: 900;
        margin: 20px auto;
        color: var(--colYellow);
        font-size: 24px;
        line-height: 1;
    }

    .slider-content .inner p {
        background-color: var(--colGray);
        color: var(--colBlue);
        font-size: 12px;
        line-height: 1.5;
        margin: 20px auto 30px;
        font-weight: 600;
    }
}
