html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  color: #fff;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-circles {
  height: 100px;
  width: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grey,
.black {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 5;
  background: #ccc;
  position: absolute;
}

.grey {
  border: 1px solid #ccc;
}

.black {
  z-index: 6;
  background: #333;
}

/* HERO */
.hero {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hero:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(white));
  background: linear-gradient(180deg, transparent 0%, white 100%);
  z-index: 2;
}

.hero-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.hero-title,
.hero-sub {
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.hero-title {
  font-size: 6.25rem;
  -webkit-margin-after: 16px;
          margin-block-end: 16px;
}

.hero-sub {
  font-size: 2rem;
  -webkit-margin-before: 16px;
          margin-block-start: 16px;
}

.bg {
  position: relative;
  width: 100%;
  max-width: 100vw;
  z-index: 0;
}

.person {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 4px;
  width: 100%;
  max-width: 100vw;
  z-index: 1;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  z-index: 2;
}

#mouse-icon {
  width: 40px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1191px) {
  .hero-title {
    font-size: 5rem;
  }
  #mouse-icon {
    bottom: 14%;
  }
}

@media screen and (max-width: 891px) {
  .hero-title {
    font-size: 4.5rem;
  }
  #mouse-icon {
    bottom: 12%;
    width: 30px;
  }
}

@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 3.5rem;
  }
  #mouse-icon {
    bottom: 10%;
  }
}

@media screen and (max-width: 575px) {
  .hero-title {
    font-size: 3rem;
  }
  #mouse-icon {
    width: 20px;
  }
}

/*  PANEL */
.panel {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1170px;
  margin: 3rem auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "image text text" "image text text";
  grid-gap: 0px 100px;
}

.grid-item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: image;
}

.grid-item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: text;
}

.panel-text {
  font-size: 1.5rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #333;
}

.panel-image {
  width: 100%;
  max-width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  position: relative;
  background: #333;
  color: #fff;
  font-size: 1.125rem;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  overflow: hidden;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1191px) {
  .container {
    width: auto;
    margin: 3rem 2rem;
    grid-gap: 35px;
  }
}

@media screen and (max-width: 891px) {
  .panel-text {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
        grid-template-areas: "image" "text";
  }
  .panel-image {
    margin: 0px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    margin: 0rem 2rem;
  }
  .panel-text {
    font-size: 1rem;
  }
  .btn {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=CulturePage.css.map */